body {
  font-family: "roboto", sans-serif;
  color: #212121;
}
:root {
  --blue_color: #2196f3;
  --gray_color: #757575;
  --background: #2f303a;
  --filter_color: #f5f4fa;
  --white_color: #ffffff;
  --black_color: #000000;
  --main_color: #212121;
}
.logo {
  font-family: raleway;
  font-weight: bold;
  font-size: 26px;
  text-decoration: none;
}
.logo span {
  color: var(--blue_color);
}
.head {
  color: var(--black_color);
}
.foot {
  color: var(--white_color);
}
.navi-item li {
  list-style-type: none;
}
.navi-item li a {
  color: inherit;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  text-decoration: none;
}
.navi-item li a:hover,
.navi-item li a:focus {
  color: var(--blue_color);
}
.contact-item li {
  list-style-type: none;
  font-style: normal;
  letter-spacing: 0.02em;
  color: var(--white_color);
}

.contact-item li a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: var(--gray_color);
}
.contact-item li a:hover,
.contact-item li a:focus {
  color: var(--blue_color);
}
.text-title {
  color: var(--white_color);
  background-color: var(--background);
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.order-service {
  font-family: inherit;
  background-color: var(--blue_color);
  color: var(--white_color);
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;

  cursor: pointer;
}

.text li {
  list-style-type: none;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--gray_color);
}
.text li h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main_color);
}
.activity li {
  list-style-type: none;
}
.activity h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team {
  background-color: var(--filter_color);
}
.team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team li {
  background-color: var(--white_color);
  width: 270px;
  height: 368px;
  list-style-type: none;
  font-size: 16px;
}
.team li h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--gray_color);
}

.filter-list li {
  list-style-type: none;
}
.filter {
  border: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--filter_color);
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.filter:hover,
.filter:focus {
  background-color: var(--blue_color);
  color: var(--white_color);
}
.bottom {
  background-color: var(--background);
}

.address-item li {
  list-style-type: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white_color);
}

.address-item a {
  text-decoration: none;
  color: var(--gray_color);
}
.address-item a:hover,
.address-item a:focus {
  color: var(--blue_color);
}
.portfolio li {
  list-style-type: none;
}
.project-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--gray_color);
}
